﻿@model IEnumerable<KurHesaplama.Models.DB.KurBilgisi>

@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<h2>@TempData["hata"]</h2>
<p>@Html.ActionLink("Bu Tarihteki Kurlar Arasında Dönüşüm Yap", "Hesapla")</p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Satis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.E_Alis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.E_Satis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarih)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Kod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cins)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Satis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.E_Alis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.E_Satis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tarih)
                </td>
            </tr>
        }

    </table>
