﻿
@{
    ViewBag.Title = "Kurları görmek istediğiniz tarihi seçiniz";
}
<h2>@TempData["hata"]</h2>
<h2>Tarih</h2>

<form method="POST" action="KurBilgisis/Tarih">
    <input type="date" name="date"/>
    <input type="submit" value="Kurları Göster"/>
</form>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>